<%-include ('partials/header') -%> 
  <h1>Random YTS Movies</h1>

  <div class="row">
    <% movies.forEach(movie => { %>
      <div class="col-md-4 col-lg-2">
        <a href="/tor/<%= movie.id %>">
        <div class="">
          <img src="<%= movie.medium_cover_image %>" class="card" alt="<%= movie.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text">Rating: <%= movie.rating %></p>
          </div>
        </div>
      </a>
      </div>
    <% }); %>
  </div>

  <!-- Add your JavaScript scripts here, or link to a JS file -->
</body>
</html>
