<%-include ('partials/header') -%> 
<div class="row">
  <% movies.forEach(movie => { %>
    <div class="col-4 col-lg-2 mb-4">
      <a href="/tor/<%= movie.id %>" class="" aria-label="View details for <%= movie.title %>">
        <div class="">
          <% if (movie.medium_cover_image) { %>
            <img src="<%= movie.medium_cover_image %>" class="card" alt="<%= movie.title %> poster">
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
            </div>
          <% } else { %>
           .okay
          <% } %>
        </div>
      </a>
    </div>
  <% }) %>
</div>


  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-space-between">
      <% if (currentPage > 1) { %>
        <li class="page-item mauto">
          <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item ms-auto">
          <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
        </li>
      <% } %>
    </ul>
  </nav>